.contPhones {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
   

    height: 350px;
    width: 220px;
}
.phoneImg {
  
    max-width: 150px;
    
  
}

.popBtn {
    all:unset;
}
          
.pop{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    align-items: center;
    height: 550px;
    width: 700px;
    background-color: rgb(255, 254, 253);
    opacity: 0.8;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    border-radius: 10px;
    border: solid #006FFF 3px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.pop > p {
    margin:3rem;
}