.homeDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
    
}


.homePhone {
    margin-top: 3rem;
    margin-bottom: 2rem;
    height: 17rem;
    width: 8rem;
    padding: 2rem;
}
.homePhone > img {
    height: 17rem;
    width: 8rem;
}
.homePhone > img:hover{
    opacity: 0.8;
}


.homeTablet {
    margin-top: 3rem;
    margin-bottom: 2rem;
    height: 17rem;
    width: 24rem;
    padding: 2rem;
}

.homeTablet > img {
    height: 17rem;
    width: 24rem;
}

.homeTablet > img:hover {
    opacity: 0.8;
}