.homeDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 75vh;
}


.homePhone {
    margin-top: 3rem;
    height: 25rem;
    width: 12rem;
    padding: 2rem;
}
.homePhone > img {
    height: 25rem;
    width: 12rem;
}

.homeTablet {
    margin-top: 3rem;
    height: 25rem;
    width: 32rem;
    padding: 2rem;
}

.homeTablet > img {
    height: 25rem;
    width: 35rem;
}