.homeDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
   
    margin-bottom: 4rem;
}

.homeDiv > h2 {
    background-color: var(--secondary);
    margin-top: 0;
    text-align: center;
    color: whitesmoke;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    width: 100%;
}


.homePhone {
    margin-top: 3rem;
    margin-bottom: 2rem;
    height: 17rem;
    width: 8rem;
    padding: 2rem;
}
.homePhone > img {
    height: 17rem;
    width: 8rem;
}
.homePhone > img:hover{
    opacity: 0.8;
}


.homeTablet {
    margin-top: 3rem;
    margin-bottom: 2rem;
    height: 17rem;
    width: 24rem;
    padding: 2rem;
}

.homeTablet > img {
    height: 17rem;
    width: 24rem;
}

.homeTablet > img:hover {
    opacity: 0.8;
}