footer{
    background-color: var(--primary);
}

.footerContainer {
   
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: small;
    color: whitesmoke;
    height: 7rem;
}
.footerContainer > p {
    margin-left: 7rem;
}

.divSocial {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    margin-right: 7rem;
}

.social {
    height: 40px;
    width: 40px;
    padding:10px;
}