.TabletsContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: flex-start;
    margin: 2rem;
    gap: 2rem;
    
}

.tabletPage > h2 {
    background-color: var(--secondary);
    margin-top: 0;
    text-align: center;
    color: whitesmoke;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);

}