@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
    --primary: #1B3F5F;
    --secondary: #689BC5;
    font-family: 'Ubuntu', sans-serif;

}

body {
    background-color: #F2F2F2;
}

a {
    text-decoration: none;
}