.phoneDetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infoPhone {
    display: flex;
    
    flex-wrap: wrap;
    justify-content: center;
}

.imagesDetail {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:flex-end;
    align-content: center;

}

.imagesDetail > img {
    min-height: 25rem;
    width: 14rem;
    padding: 2rem;
}

.carct {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.phoneDetail > h2 {
    background-color: var(--secondary);
    margin-top: 0;
    text-align: center;
    color: whitesmoke;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    width: 100%;
}
 
.caract > ul > li {
    list-style: none;
}

